<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h1> Todo Data</h1>

    <form action="addTodo">
        <h3>Enter Todo Title</h3>
        <input type="text" name="title"></input>
        <h3>Enter Todo Description</h3>
        <input type="text" name="Des"></input>
        <h3></h3>
        <button type="submit">Add Todo</button>
    </form>

    <hr />

    <form action="findById">
        <h3>Enter Todo Id</h3>
        <input type="text" name="id"></input>
        <h3></h3>
        <button type="submit">Find Item</button>
    </form>

    <hr />
    <form action="deleteTodo">
        <h3>Enter Todo Id</h3>
        <input type="text" name="id"></input>
        <h4></h4>
        <button type="submit">Delete</button>
    </form>
    <hr />
    <form action="updateTodo">
        <h3>Enter Todo Id</h3>
        <input type="text" name="id"></input>
        <h3>Enter Todo Title</h3>
        <input type="text" name="title"></input>
        <h3>Enter Todo Description</h3>
        <input type="text" name="Des"></input>
        <h3></h3>
        <button type="submit">Update Item</button>
    </form>

</body>
</html>