<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h2> Todo Item List</h2>
    <form action="addTodo">
        <h4>Enter Date</h4>
        <input type="text" name="date"></input>
        <h4>Enter Todo Title</h4>
        <input type="text" name="title"></input>
        <h4>Enter Todo Description</h4>
        <input type="text" name="Des"></input>
        <h5></h5>
        <button type="submit">Add Todo</button>
    </form>
    <hr />

    <form action="findById">
        <h3>Search By Id</h3>
        <input type="text" name="id"></input>
        <h3></h3>
        <button type="submit">Search Item</button>
    </form>

    <form action="findByDate">
        <h3>Search By Date</h3>
        <input type="text" name="date"></input>
        <h3></h3>
        <button type="submit">Search Item</button>
    </form>

    <hr />
    <form action="deleteTodo">
        <h3>Enter Todo Id</h3>
        <input type="text" name="id"></input>
        <h4></h4>
        <button type="submit">Delete</button>
    </form>
    <hr />
    <form action="updateTodo">
        <h3>Enter Todo Id</h3>
        <input type="text" name="id"></input>
        <h3>Enter Todo Title</h3>
        <input type="text" name="title"></input>
        <h3>Enter Todo Description</h3>
        <input type="text" name="Des"></input>
        <h3></h3>
        <button type="submit">Update Item</button>
    </form>

</body>
</html>